.searchDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #dd263d;
    padding: 2% 0;
    justify-content: center;
}

.searchBarHead{
    color: white;
    margin-bottom: 5%;
    z-index: 1;
    background-blend-mode:darken ;
}

.searchWrraper{
    display: flex;
    justify-content: center;
}

.searchBar{
    background-color: white;
    align-items: center;
    border-radius: 5px;
    width: 80%;
    margin: 0;
    z-index: 1;
}

.seFieldset{
    display: flex;
    justify-content: center;
    border: none;
    border-right: 1px solid #666;
}

.fieldBorder{
    width: 80%;
   border: none;
   height: 50px;
}

.inputDiv .seFieldset {
    display: flex;
    justify-content: flex-start;
}

.seInput{
    outline: none;
    color: #666;
    font-weight: 600;

}

.seInput:active,.seInput:focus{
    color: black;
}

.typeSelect{
    outline: none;
    color: #666;
    font-weight: 600;
}

.typeSelect:active ,.typeSelect:hover, .typeSelect:focus{
    color: black;
    cursor: pointer;
}

.sSelect{
    outline: none;
    color: #666;
    font-weight: 600;


}

.sSelect:focus, .sSelect:hover, .sSelect:active{
    color: black;
    cursor: pointer;

}

.searchWrrap{
    
    height: 100%;
    padding: 0;
}

.search{
    width: 100%;
    height: 100%;
    background-color: #1ab64f ;
    border-color: #1ab64f;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.search:focus, .search:hover, .search:active{
    background-color: #128036;
    border-color: #128036;
}


.backImg1{
    position: absolute;
    right: 70%;
    top: 130px;
    z-index: 0;


}

.backImg2{
    position: absolute;
    left: 70%;
    z-index: 0;
}

@media screen and (max-width: 1024px) {

    .searchBarHead{
        color: black;
    }

    .searchDiv{
        background-color: #fff;
    }

    .searchBar{
        display: flex;
        justify-content: center;
    }

   

    .seFieldset{
        border: none;
    }

    .inputDiv{
        border: 1px solid rgba(0,0,0,0.12);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-align: left;
        width: 100%;

    }


    .typeSelectDiv{
        border: 1px solid rgba(0,0,0,0.12);
        border-top: none;
        border-bottom-left-radius: 5px;


    }

    .sSelectDiv{
        border: 1px solid rgba(0,0,0,0.12);
        border-top: none;
        border-bottom-right-radius: 5px;


    }

    .typeSelectDiv, .sSelectDiv{
        width: 50%;
    }

    .inputDiv .seFieldset {
        display: flex;
        justify-content: flex-start;
    }

    .search{
        border-radius: 0;
        width: 100%;
        height: 40px;
        margin-top: 3%;
        border-radius: 5px;
        background-color: #ff4e63;


    }

    .search:focus, .search:hover, .search:active{
        background-color: #ff4e63;
        border-color: #ff4e63;
    }

    .backImg1, .backImg2{
        display: none;
    }
    
}



