.mainDiv{
    margin: 0;
    margin-top: 1.5%;
    padding: 5px 0 0 !important;
    background-color: #fdf8f8;

    
}

.internalDiv{
    background-color: #fff ;
    height: 88vh;
    width: 98vw;
}

.main{
    padding: 0 7%;
    padding-top: 3%;
    overflow-y: auto;
    scroll-behavior: smooth;

}

.inputFeild{
    display: flex;
    flex-direction: row;
}

.locIn{  
    height: 40px;  
    width: 100%;
    color: #606060;
    font-size: 16px;
    line-height: 38px;
    position: relative;
    outline: none;
    border: none;
    border-bottom: 2px solid #d8d8d8;
    border-radius: 0;
    cursor: pointer;
    padding: 0 30px 0 0;
}

.searchBtn::after{
    color: red;
}

.des{
    background-color: #fdf8f8;
    padding-top: 3%;
    background-image: url('/images/const.jpg')    ;
    background-repeat: no-repeat;

}

