.grand_parent
{ 
  width: 100vw; 
  height:100vh;
  background: white; 
  color: #fff;
}

.title{
  font-size: 4rem;
  padding: 20px 0;
  text-align: center;
  color: #000;
}

.smallHead{
  color: black;
  text-align: left;
  margin: 40px;
  font-size: 25px;
  font-weight: bold;
  font-family:'times-new-roman';
  justify-content: space-between;
}

.smallHead i {
    cursor: pointer;
}

.heads{
  color: black;
  text-align: left;
  margin: 25px 40px 20px 40px;
  font-size: 20px;
  font-family:'arial';
  justify-content: space-between;
  font-weight: bold;
}

.name{
  color: black;
  text-align: left;
  margin: 0 40px;
  font-size: 20px;
  font-family:'arial';
  justify-content: space-between;
}


.parents
{ 
  width: 80vw; 
  height: auto; 
  margin: auto;
  display: flex;  
  justify-content: space-around;
  flex-wrap: wrap; 
  transition: all 0.2 linear;
}


.child{
  background:#81ecec;
  border: 1px;
  box-shadow: 0 0 20px #bac3c3;
  flex:1 1 200px;
  margin: 20px;
}

.child:first-child{
  background:white;
  height: 400px;
}


.child:last-child{
  background: white;
  height: 250px;
}


.fa-edit{
  font-size: 25px;
  color:black;
  text-align:left;
}

@media (max-width: 768px){
  .grand_parent{height:auto; }
}