html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit !important;
  text-decoration: inherit !important;
}

a:hover{
  color: inherit !important;
  text-decoration: inherit !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


.mob-car .sc-gsTEea.rec.rec-item-wrapper{
  justify-content: flex-start;
  width: fit-content !important;
}

.mob-car .rec-carousel-item{
  padding-left:  16px;
  padding-right: 16px;
}

.display{
  display: block;
}

.displayNone{
  display: none;
}


@media screen and (max-width: 768px) {

  .sideActive{
    background-color: #fff;
    display: flex;
    position: fixed;
    flex-direction: column;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    box-sizing: initial;
    transition: 850ms;
    z-index: 2;
  }

  .sideInActive{
    position: fixed;
    left: -100%;
    width: 70%;
    transition: 850ms;
    z-index: 2;
  }
}
