html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.rec-arrow-left{
  display: none;
}

.rec-arrow-right{
  display: none;
}

.rec-dot{
  display: none;
}

.eQpvzW{
  justify-content: flex-start;
  width: fit-content !important;
}

.rec-carousel-item{
  padding-left:  16px;
  padding-right: 16px;
}