

.smallCarousel{
    display: none;
}

.searchDiv{
  margin-top: 1.5%;
}

.top_hos_div{
    margin-top: 5%;
    padding: 5% 7% 7%;
}

.myArrow{
  border: none;
  background-color: transparent;
  z-index: 1;
  position: relative;
}

.leftArrow{
  display: flex;
  font-size: 130%;
  border-radius: 50%;
  border: 1px solid #d7d7d7;
  position: relative;
  left: 100%;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
}

.rightArrow{
  display: flex;
  font-size: 130%;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
  position: relative;
  right: 100%;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
}

.leftArrow:hover, .leftArrow:active, .leftArrow:focus{
  color: #fff;
  background-color: #d8232a;
  border-color: #d8232a;
  font-size: 140%;
  left: 80%;
  transition:  0.5s;
}

.rightArrow:hover, .rightArrow:focus, .rightArrow:active{
  background-color: #d8232a;
  border-color: #d8232a;
  color: #fff;
  font-size: 140%;
  right: 80%;
  transition:  0.5s;
}

.car_item{
    width: 35vw;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d7d7d7;
    border-radius: 8px;
}

.car_img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}


.img_div{
    width: 35vw;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.detail{
  width: 150%;
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
}

.cir_car_sec{
  display: flex;
  align-items: center;
  padding: 15px 0 5%;
  flex-direction: column;
}


.cir_car_div{
    margin-top: 5%;
    width: 80%;
    height: 200px;
}

.cir_car{
    border-radius: 50%;
    width: 125px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.cir_car_img{
    border-radius: 50%;
}

.locName {
    margin-top: 5px;
}

.locName h6{

color:#2a2a2e ;
}

.locName p{
    font-size: 12px;
    color: rgb(115, 115, 115);
}

.commingSoon{
      
      background-color: #f3f5f7;
}



@media screen and (max-width: 768px) {

  .myArrow{
    display: none;
  }

    .smallCarousel{
        display:flex;
    }

    .car_item{
      width: 50vw;
      height: max-content;
      padding: 0 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #d7d7d7;
      border-radius: 8px;
  }
  
  .car_img{
      height: 25vw;
      width: 50vw;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
  
  }
  
  
  .img_div{
    
      height: 25vw;
      width: 50vw;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
  }

    .detail{
      display: flex;
      font-size: 12px;
      justify-content: space-between;
      width: 40vw;
      /* padding-bottom: 2%; */
    }

    .detail h6{
      font-size: 12px;

    }

    .detail h5{
      font-size: 12px;
    }

    .detail button{
      font-size: 10px;
      padding: 1px 2px;

    }

    .commingSoon{
      display: none;
    }
    
}

