/* navbar  */

.nav{
    display: none;
}

.navabar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 20px;

}

.toggleBar{
display: none;
}

.navBrand{
    font-size: 30px;
    font-weight: bold;
    padding-right: 40px;
}



.element{
    display: flex;
    padding-right: 80%;

}

.hostelEle{
    padding-right: 20%;

}

.wrraper{
    display: flex;
    font-size: large;
}

.userBtn{
    padding-left: 30px;
}

.carousel{
    display: none;
}







@media  screen and (max-width: 768px) {

    /* sidebar  */

    .nav{
        display: flex;
        flex-direction: column;
        color: blanchedalmond;
        min-height: 100vh;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        background-color: #020d18;
        box-sizing: initial;
        transition: 0.5s;
        z-index: 5;
    }

    .add{
        height: 25vh;
        background-color: ivory;
    }

    .signinUpbtn{
        display: flex;
        justify-content: flex-end;
        height: 60%;
        align-items: flex-end;
        margin-right: 10px;

    }

    .navigator ul{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding-left: 5px ;
        padding-top: 40px;
    }

    .navigator ul li{
        position: relative;
        list-style: none;
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;


    }


    .navigator ul li.active{
        background-color: #fff;

    }

    .navigator ul li .linkStyle{
        position: relative;
        display: block;
        width: 100%;
        display: flex;
        text-decoration: none;
        color: ivory;
        line-height: 40px;
        min-width: 60px;
        height: 40px;

    }

    .navigator ul li.active .linkStyle{
        color: #333;
    }

    .navigator ul li .linkStyle .title{
        position: relative;
        display: block;
        padding-left: 10px ;
        height: 40px;
        line-height: 40px;
        white-space: normal;
    }

    /* navbar */

    .navabar{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 5px;
        border-bottom: solid grey;
    }

    .navBrand{
        font-size: medium;
    }

    .element{
        display: none;
    }

    .wrraper{
        display: flex;
    }
    
    .toggleBar{
        display: flex;
        margin-right: 15px;
    }

    .navBrand{
        font-weight: 500;
    }

    .userBtn{
        padding-left: 15px;
    }

    .carousel{
        display: flex;
    }

   .carEle{
        background-color: grey;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
   }

   .carousel span{
       display: flex;
       justify-content: center;
   }
}

