/* navbar  */

.nav{
    display: none;
}

.navabar{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2% 15% 0;
    background-color: transparent;
    font-weight: 700;
    font-size: 20px;
    color: #666;

}

.toggleBar{
display: none;
}

.side{
    display: none;
}

.navBrand{
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-right: 50px;
    text-decoration: underline;
    cursor: pointer;
}



.element{
    display: flex;
    font-size: large;
    height: 40px;
    align-items: flex-end;
    justify-content: flex-end;

}



.hostelEle{
    margin-right: 30%;
    font-size: 1rem;
    font-weight: 400;
    color: #666;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    padding: 0 2px 0;

}
.hostelEle:hover{
    border-bottom: 3px #0b7dda solid ;
    transition: 0.2s;
    color: #0b7dda;

}

.hostelEleActive{
    color: #0b7dda;
    border-bottom: 3px #0b7dda solid ;
 
}

.wrraper{
    display: flex;
    font-size: large;
    height: 40px;
    align-items: flex-end;
}

.searchBtn{
    cursor: pointer;
    font-size: 1.3rem;
}

.userBtn{
    margin-left: 30px;
    cursor: pointer;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2px 0;
}

.userBtn:hover{
    border-bottom: 3px #0b7dda solid ;
    transition: 0.2s;
    color: #0b7dda;
}

.signuplogo{
    font-size: 1rem;
    border-radius: 50%;
    border: 1px solid #666;
}

.carousel{
    display: none;
}













@media  screen and (max-width: 768px) {

    /* sidebar  */

    .side{
        display: block;
    }
    
    .closeBtn{
        
        z-index: 4;
    }


    /* navbar */

    .navabar{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 5px;
        border-bottom: solid grey;
    } 

    .navBrand{
        font-size: 1.3rem;
    }

    .sec{
        justify-content: flex-end;
    }

    .element{
        display: none;
    }

    .wrraper{
        display: flex;
        align-items: flex-end;
    }
    
    .toggleBar{
        display: flex;
        margin-right: 15px;
    }

    .navBrand{
        font-weight: 500;
    }

    .searchBtn{
        cursor: pointer;
        font-size: 1px !important;
    }

    .signuplogo{
        font-size: small;
        border-radius: 50%;
        border: 1px solid #666;
        padding: 5px;
    }
    
    .userBtn{
        cursor: pointer;
        font-size: 12px;
        margin-left: 15px;

    
    }

    

   
}