.searchDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0b7dda;
    padding: 2% 0;
}

.searchBarHead{
    color: white;
    margin-bottom: 2%;
}

.searchBar{
    background-color: white;
    align-items: center;
    padding: 1% 7%;
    border-radius: 3px;
}

.seFieldset{
    display: flex;
    justify-content: center;
    border: none;
    border-right: 1px solid black;
}

.fieldBorder{
    width: 80%;
   border: none;
}
