@media screen and (max-width: 768px) {
    .wrraper{
        border-right: solid 1px #666;
        height: 100vh;
    }
    .add{
        height: 35vw;
        background-image: url(../public/images/SideAddImg.webp);
        background-repeat: no-repeat;
        background-size: 100% 100%  ;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

    }

    .signinUpbtn{
        display: flex;
        margin-right: 10px;

    }

    /* .btnLogin{
         width: px; 
    } */

    .btnSignup{
        margin-left: 15px;
    }

    .navigator ul{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding-left: 5px ;
        padding-top: 20px;
    }

    .navigator ul li{
        position: relative;
        list-style: none;
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 5px 6px;

    }


    .navigator ul li.active{
        background-color: #fff;

    }

    .navigator ul li .linkStyle{
        position: relative;
        display: block;
        width: 100%;
        display: flex;
        text-decoration: none;
        line-height: 40px;
        min-width: 60px;
        height: 40px;

    }

    .navigator ul li.active .linkStyle{
        color: #333;
    }

    .navigator ul li .linkStyle .title{
        position: relative;
        display: block;
        padding-left: 10px ;
        height: 40px;
        line-height: 40px;
        white-space: normal;
        color: #3e4152;
        font-weight: 700;

    }

    
}